<!-- <div class="header">
  <nav>
    <a href="#">Home</a>
    <a href="#editor">Editor</a>
    <a href="#about">About</a>
  </nav>
</div>
 --><div class="content">
  <div class="row">
  <div class="col-sm-6 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Select Chart</h3>
      </div>
      <div class="panel-body">
        <ul id="charttabs" class="nav nav-tabs">
        <% _.each(chartList, function(elem) { %>
          <li>
            <a href="#<%= elem.name %>" id="<%= elem.name %>-tab" data-toggle="tab" aria-controls="<%= elem.name %>" aria-expanded="false"><%= elem.text %></a>
          </li>
        <%}) %>
        </ul>
        <div id="tabcontent" class="tab-content">
          <% _.each(chartList, function(elem) { %>
            <div role="tabpanel" class="tab-pane fade" id="<%= elem.name %>" aria-labelledby="<%= elem.name %>-tab">
              <ul>
                <% _.each(elem.items, function(item) { %>
                  <li id="<%= item.id %>" class="chartitem">
                    <img src="<%= item.imageSrc %>">
                    <div><%= item.name %></div>
                  </li>
                <%}) %>
              </ul>
            </div>
          <%}) %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- <div class="container"> -->
  <!-- </div> -->
  <!-- <input type="button" id="selectchartcancel" value="Cancel"> -->
    <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="selectchartcancel" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>