<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bonCharts</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <style></style>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/c3.css">
  <!-- <link rel="stylesheet" href="css/local.css"> -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/c3OwnStyle.css">
  <style>
   /* body { 
  background: url(http://bcs.bravocs.net/wp-content/uploads/2013/06/iain_craig_website_backgrounds-01.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
  </style>
</head>

<body>
<div id="page">
<!-- Trigger the modal with a button -->
<div class="modal fade bs-example-modal-sm" id="login" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
           <div class="col-md-5" >
      <a href="/facebook"><img src="http://techulus.com/buttons/fb.png" /></a><br/><br/>
      <a href="/twitter"><img src="http://techulus.com/buttons/tw.png" /></a><br/>
      </div>
      <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
          <form class="form-horizontal" id="loginForm" action="">
            <fieldset>
          <input id="username" name="username" placeholder="Enter Email" type="text" class="form-control input-md">
          <br/>
          <input id="password" name="password" type="password" placeholder="Enter Password" class="form-control input-md">
          <br/>
          <button type="button" id="checksubmit" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign dfd</button>
      </fieldset>
      </form>
      </div>
        </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="save" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Save</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
           

            
  <div class="form-group">
    <label for="exampleInputPassword1">Name:</label>
    <input id="chartName" name="chartName" placeholder="Chart name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="chartDescription">Description:</label>
    <textarea id="chartDescription" name="chartDescription" rows="5" placeholder="Chart description" class="form-control"></textarea>
  </div>
  
  <div>
    <label>
      <input id="chartPublic" name="chartPublic" type="checkbox">Make public
    </label>
  </div>
 <button type="button" id="submitChart" name="singlebutton" class="btn btn-info btn-sm pull-right">Save</button>
     
     
        <!-- <fieldset>
          <input id="chartName" name="chartName" placeholder="Chart name" type="text" class="form-control">
          <br/>
          <textarea id="chartDescription" name="chartDescription" rows="5" placeholder="Chart description" class="form-control"></textarea>
          <br/>

          <input id="chartPublic" name="chartPublic" type="checkbox"  class="form-control input-md"/>
          <button type="button" id="submitChart" name="singlebutton" class="btn btn-info btn-sm pull-right">Save</button>
        </fieldset>
 -->
  
        </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade bs-example-modal-sm" id="publishChart" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Publish</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <fieldset>
           <div class='row'>
           <div class="col-md-12 col-xs-12" style='margin-bottom: 15px'>
               <input id="chartURL" name="chartURL" placeholder="Chart name" type="text" class="form-control input-md">
          </div>
          <br>
           <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
               <input id="redirectbtn" name="redirectbtn" value = "View" type="button" class="btn btn-md btn-primary">
          </div>
          </div>

          <hr/>
          <textarea id="chartFrame" name="chartDescription" rows="5" placeholder="Chart description" class="form-control input-md"></textarea>
          <br/>
          <hr/>
          <div id='postFB'>Post to Facebook</div>
          <div id='postTW'>Tweet this</div>
        </fieldset>
        </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade bs-example-modal-sm" id="register" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
           <form class="form-horizontal"  action='/registration' method="POST">
  <fieldset>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="name">Username</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="" class="input-xlarge" pattern ='^[a-zA-Z0-9]+$'required>
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="" class="input-xlarge" required>
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" pattern='^([a-zA-Z0-9@*#]{8,15})$' required>
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div> 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success pull-right">Register</button>
      </div>
    </div>
  </fieldset>
</form>
        </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




    <div class="header">
    <nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">bonCharts</a>
<!--       <image src="http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/256/blue-chart-icon.png"/> -->
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#makechart">Charts</a></li>
        <li><a href="#editor">Editor</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
      <div id="unlogined">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login">Log in</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register">Register</button>
      </div>
      <div id="logined" style='display: none'>
        <i class="glyphicon glyphicon-user"></i>
        <span id="nameUser">Default Name</span>
        <a type="button" class="btn btn-default" href='/logout'>Log out</a>
      </div> 
      </form>
    </div>
  </div>
</nav>
      
    </div>

    <div id="content"></div>
  </div>

  <script src="js/app/temp/templates.js"></script>
  <script data-main="js/main.js" src="js/lib/require.js"></script>
  
</body>

</html>
