<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bonCharts</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <style></style>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/c3.css">
  <!-- <link rel="stylesheet" href="css/local.css"> -->
  <link rel="stylesheet" href="css/style.css">
  <style>
   /* body { 
  background: url(http://bcs.bravocs.net/wp-content/uploads/2013/06/iain_craig_website_backgrounds-01.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
  </style>
</head>

<body>
<!-- <input type='button' value="toDataBase" onclick="toDB()"/> -->
<div id="page">
<!-- Trigger the modal with a button -->
<div class="modal fade bs-example-modal-sm" id="login" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
           <div class="col-md-5" >
      <a href="/facebook"><img src="http://techulus.com/buttons/fb.png" /></a><br/><br/>
      <a href="/twitter"><img src="http://techulus.com/buttons/tw.png" /></a><br/>
      </div>
      <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
          <form class="form-horizontal" id="loginForm" action="">
            <fieldset>
          <input id="username" name="username" placeholder="Enter Email" type="text" class="form-control input-md">
          <br/>
          <input id="password" name="password" type="password" placeholder="Enter Password" class="form-control input-md">
          <br/>
          <button type="button" id="checksubmit" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign dfd</button>
      </fieldset>
      </form>
      </div>
        </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade bs-example-modal-sm" id="save" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
           
     
     
        <fieldset>
          <input id="chartName" name="chartName" placeholder="Chart name" type="text" class="form-control input-md">
          <br/>
          <textarea id="chartDescription" name="chartDescription" rows="5" placeholder="Chart description" class="form-control input-md"></textarea>
          <br/>
          <input id="chartPublic" name="chartPublic" type="checkbox"  class="form-control input-md"/>
          <button type="button" id="submitChart" name="singlebutton" class="btn btn-info btn-sm pull-right">Save</button>
        </fieldset>

  
        </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade bs-example-modal-sm" id="register" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
           <form class="form-horizontal"  action='/registration' method="POST">
  <fieldset>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="name">Username</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="" class="input-xlarge" pattern ='^[a-zA-Z0-9]+$'required>
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="" class="input-xlarge" required>
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" pattern='^([a-zA-Z0-9@*#]{8,15})$' required>
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" required>
        <p class="help-block">Please confirm password</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success pull-right">Register</button>
      </div>
    </div>
  </fieldset>
</form>
        </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




    <div class="header">
    <nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">bonCharts</a>
<!--       <image src="http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/256/blue-chart-icon.png"/> -->
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#editor">Editor</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#login">Log in</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#register">Register</button>
      </form>
    </div>
  </div>
</nav>
      
    </div>

    <div id="content"></div>
  </div>

  <script src="js/app/temp/templates.js"></script>
  <script data-main="js/main.js" src="js/lib/require.js"></script>
  <script type="text/javascript">
  function ID() {
    return Math.random().toString(36).substr(2, 9);
  };
  function toDB() {
   // function populate() {
    var id = ID();
    console.log(id);
    alert(id);
 var defal = {
   "id": id,
   "name": "My First Saved",
   "description": "Fuck year description",
   "public": false,
  "owner": "test@ukr.net",
   "data": [{
  "name": "title",
  "title_text": "Chart Title",
  "title_position": "top-center",
  "title_padding_top": 0,
  "title_padding_right": 0,
  "title_padding_bottom": 0,
  "title_padding_left": 0
}, {
  "name": "miscellaneous",
  "bindto": "chart",
  "interaction_enabled": true,
  "transition_duration": 350,
  "zoom_enabled": true,
  "chart_data_type": "spline",
  "axis_rotated": false
}, {
  "name": "data_settings",
  "data_empty_label_text": "No Data",
  "data_groups": [],
  "data_xFormat": "",
  "data_selection_enabled": true,
  "data_selection_grouped": false,
  "data_selection_multiple": false
}, {
  "name": "legend",
  "legend_show": true,
  "legend_position": "bottom",
  "legend_inset_anchor": "top-left",
  "legend_inset_x": 10,
  "legend_inset_y": 0
}, {
  "name": "tooltip",
  "tooltip_show": true,
  "tooltip_grouped": true,
  "tooltip_format_title": "Data [[x]]",
  "tooltip_format_name": "[[name]]",
  "tooltip_format_value": "[[value]]",
  "tooltip_format_value_format": "",
  "tooltip_format_ratio_format": ".2%"
}, {
  "name": "axis_x",
  "axis_x_show": true,
  "axis_x_type": "category",
  "axis_x_localtime": true,
  "axis_x_tick_fit": true,
  "axis_x_tick_rotate": 0,
  "axis_x_tick_multiline": true,
  "axis_x_label_text": "",
  "axis_x_label_position": "outer-center",
  "subchart_show": true,
  "subchart_size_height": 30,
  "subchart_axis_x_show": true
}, {
  "name": "axis_y",
  "axis_y_show": true,
  "axis_y_inverted": false,
  "axis_y_label_text": "",
  "axis_y_label_position": "outer-middle"
}, {
  "name": "axis_y2",
  "axis_y2_show": false,
  "axis_y2_inverted": false,
  "axis_y2_label": "",
  "axis_y2_label_position": "outer-middle"
}, {
  "name": "grid",
  "grid_x_show": false,
  "grid_x_lines": [{
    "value": 2,
    "text": "Label on 2",
    "position": "middle"
  }, {
    "value": 5,
    "text": "Label on 5",
    "class": "label-5"
  }, {
    "value": 4,
    "text": "Label on 4",
    "position": "start"
  }],
  "grid_y_show": false,
  "grid_y_lines": [{
    "value": 2,
    "text": "Label on 2",
    "position": "middle"
  }, {
    "value": 5,
    "text": "Label on 5",
    "class": "label-5"
  }, {
    "value": 4,
    "text": "Label on 4",
    "position": "start"
  }],
  "regions": [{
    "axis": "x",
    "start": 1,
    "end": 2,
    "class": "region-1-2"
  }]
}, {
  "name": "data",
  "data_rows": [
    ["column1", "column2", "column3", "column4", "column5"],
    ["3.787721017", "2.747513251", "9.883701314", "9.743055231", "2.285146649"],
    ["9.829754603", "8.083200681", "9.632570997", "9.102739331", "1.81258888"],
    ["4.807578226", "3.480733082", "9.112471478", "1.160407253", "4.477531725"],
    ["1.517544893", "6.353474387", "1.638682198", "8.263394539", "3.334080658"],
    ["9.106747267", "3.881892342", "1.598146747", "1.041712003", "7.827798231"],
    ["3.977026676", "6.942130259", "9.282104305", "3.468127473", "3.672850296"],
    ["3.148170778", "4.619128929", "9.516747882", "0.291356344", "3.718404901"],
    ["3.448601328", "4.151710931", "4.820257193", "7.13533779", "6.551163167"],
    ["7.12956697", "3.334579177", "9.541173424", "0.147591235", "0.323246122"],
    ["4.812254575", "5.16632958", "1.323447617", "4.856304739", "3.003439969"],
    ["4.672902588", "7.510008981", "1.372160844", "0.099394076", "6.952838803"],
    ["2.938293886", "0.754776396", "6.47266392", "9.149582548", "5.83969077"],
    ["1.321900727", "7.623781196", "5.168810894", "6.146276297", "6.226451204"],
    ["7.708505437", "5.834992895", "9.308267062", "1.201780427", "6.057497151"],
    ["4.697658513", "4.529403118", "7.217109874", "1.917652073", "8.292195835"],
    ["0.782836218", "9.122786074", "4.439595872", "0.804029413", "6.978647142"],
    ["8.748475932", "3.340298678", "7.316379787", "5.970750671", "3.028240681"],
    ["0.186706131", "3.705298858", "9.166423514", "0.96652902", "4.005665937"],
    ["7.014989521", "4.575549281", "2.948483596", "9.529499457", "1.699516859"],
    ["3.176363226", "3.290966124", "7.683358475", "8.83937715", "4.612084246"],
    ["4.759443681", "4.830797333", "8.82556174", "8.055278629", "9.848579657"],
    ["5.108870077", "6.652710249", "2.333977541", "6.019112425", "9.812894224"],
    ["1.832390309", "8.412136412", "9.768098201", "1.852713743", "1.236587378"]
  ]
}, {
  "name": "pie_donut",
  "pie_label_show": true,
  "pie_label_format": "[[ratio]]",
  "pie_label_value_format": "",
  "pie_label_ratio_format": ".1%",
  "pie_label_threshold": 0.05,
  "pie_expand": true,
  "donut_label_show": true,
  "donut_label_format": "[[ratio]]",
  "donut_label_value_format": "",
  "donut_label_ratio_format": ".1%",
  "donut_label_threshold": 0.05,
  "donut_title": "",
  "donut_expand": true,
  "donut_expand_duration": 50
}, {
  "name": "line_bar",
  "point_show": true,
  "point_r": 2.5,
  "point_focus_expand_enabled": true,
  "line_connectNull": false,
  "line_step_type": "step",
  "bar_width_ratio": 0.6
}, {
  "name": "series_1",
  "data_y": "column1",
  "data_name": "DATA 1",
  "data_x": "",
  "data_class": "",
  "data_y2": false,
  "data_labels_show": false,
  "data_labels_format": "[[value]]",
  "data_labels_format_value": "",
  "data_use_custom_color": false,
  "data_color": "#ffffff",
  "data_hide": false,
  "legend_hide": false,
  "data_type": "line"
}, {
  "name": "series_2",
  "data_y": "column2",
  "data_name": "DATA 2",
  "data_x": "",
  "data_class": "",
  "data_y2": false,
  "data_labels_show": false,
  "data_labels_format": "[[value]]",
  "data_labels_format_value": "",
  "data_use_custom_color": false,
  "data_color": "#ffffff",
  "data_hide": false,
  "legend_hide": false,
  "data_type": "spline"
}, {
  "name": "series_3",
  "data_y": "column3",
  "data_name": "series_3",
  "data_x": "",
  "data_class": "",
  "data_y2": false,
  "data_type": "scatter",
  "data_labels_show": false,
  "data_labels_format": "[[value]]",
  "data_labels_format_value": "",
  "data_use_custom_color": false,
  "data_color": "#ffffff",
  "data_hide": false,
  "legend_hide": false
}, {
  "name": "series_4",
  "data_y": "column4",
  "data_name": "series_4",
  "data_x": "",
  "data_class": "",
  "data_y2": false,
  "data_type": "spline",
  "data_labels_show": true,
  "data_labels_format": "[[value]]",
  "data_labels_format_value": ".1f",
  "data_use_custom_color": false,
  "data_color": "#ffffff",
  "data_hide": false,
  "legend_hide": false
}, {
  "name": "series_5",
  "data_y": "column5",
  "data_name": "series_5",
  "data_x": "",
  "data_class": "",
  "data_y2": false,
  "data_type": "area-spline",
  "data_labels_show": true,
  "data_labels_format": "[[value]]",
  "data_labels_format_value": ".2f",
  "data_use_custom_color": false,
  "data_color": "#c0c0c0",
  "data_hide": false,
  "legend_hide": false
 }]
};

 var request = $.ajax({
   url: "/populate",
   async: true,
   type: "POST",
   data: JSON.stringify(defal),
   contentType: "application/json; charset=utf-8",
   dataType: "json",
 });


   alert("Hello");
  }
  </script>
</body>

</html>
