body {
  margin: 0;
}

.editor-page#page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
}

.editor-page .header {
  width: 100%;
}

#content {
  height: calc(100% - 40px);
}

.editor-page #content {
  flex: 100%;
  display: flex;
  margin: 0 10px;
  /*z-index: -100;*/
}

.panel {
  margin-bottom: 10px;
}

#settings-tree {
  width: 20%;
  min-width: 130px;
  order: 1;
  overflow-y: auto;
}

#settings {
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
  min-width: 170px;
  order: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  /*overflow-y: auto;*/
}

.settings {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

#settings .panel-heading {
  min-height: 55px;
}

.settings-body {
  overflow-y: auto;
  height: 100%;
}

#settings .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

#settings .list-group-item {
  border: none;
  border-top: 1px solid #ddd;
}

#settings .col-sm-6 {
  padding-right: 5px;
}

#main {
  order: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  /*width: 55%;*/
}

#chart-view {
  height: 65%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 200px;
}

.chart-body {
  overflow-y: hidden;
  height: 100%;
}

#data-view {
  height: 35%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}

.editor-page .panel-heading {
  min-height: 55px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.chartitem {
  float: left;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.chartitem div {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.8;
}

.chartitem:hover div {
  display: block;
}

.chartitem:hover {
  box-shadow: 0 0 2px #808080;
}

.select-chart-container .tab-content {
  height: 300px;
}

#accordion li.panel {
  margin-bottom: 0px;
}

.add-series-btn, .delete-series-btn {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 22px;
  border-radius: 10px;
  text-align: center;
}

.settings-tree-item {
  cursor: pointer;
}

.panel-body {
  overflow-y: auto;
  overflow-x: hidden;
}

#settings h3 {
  text-align: center;
}

#chart-view .btn-xs {
  margin-left: 5px;
}

#bonchart {
  /*overflow-y: auto;*/
  height: 100%;
  /*box-sizing: border-box;*/
  /*border: dashed 1px;*/
  /*margin: -10px 0;*/
  /*padding: 0;*/
  /*padding-top: 5px;*/
  /*overflow: hidden;*/
    /*min-height: 200px;*/
/*height: 100%;*/
/*display: flex;*/
/*overflow-y: auto;*/
}

.data-import {
  float: right;
  display: inline-block;
}

.data-view-content {
  /*margin-top: 40px;*/
  height: 100%;
  overflow-y: auto;
}

#data-table {
  margin: 15px;
  width: auto;
}

.delete-row {
  width: 0;
  padding: 0 !important;
}

.delete-row, .delete-col {
  position: relative;
 }

.delete-col-btn {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 15px;
  height: 15px;
  border: solid 1px #808080;
  border-radius: 5px;
  background-color: lime;
  /*background-image: url(../images/circle_x_small.png) no-repeat;*/
  display: none;
  cursor: pointer;
}

.delete-row-btn {
  position: absolute;
  top: 10px;
  left: -10px;
  width: 15px;
  height: 15px;
  border: solid 1px #808080;
  border-radius: 5px;
  background-color: lime;
  /*background-image: url(../images/circle_x_small.png) no-repeat;*/
  display: none;
  cursor: pointer;
}

.right {
  float: right;
}

#data-table th:hover .delete-col-btn {
  display: block;
}

#data-table tr:hover .delete-row-btn {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
}

.setting-property {
/*  margin: 0;
  width: 150px;
  height: 25px;
  box-sizing: border-box;
  float: right;
*/}

.checkbox {
  height: 30px;
  width: 30px;
  float: right;
}

.form-horizontal .control-label {
  text-align: left;
}

.form-horizontal .form-group {
   margin-right: 0; 
   margin-left: 0; 
}

.list-group-item {
  padding: 5px;
}

label {
  font-weight: normal;
/*  float: left;
  line-height: 25px;
*/}

#settings li {
  /*margin: 10px;*/
}

#settings li:after {
/*  content: "";
  display: block;
  clear: both;
*/}

@media (max-width: 960px) {
  #settings-tree {
    width: 150px;
  }

  #settings {
    left: 150px;
  }

  #main {
    left: 490px;
  }
}

@media (max-width: 800px) {
  #settings {
    width: 250px;
  }

  #main {
    left: 420px;
  }
}

@media (min-width: 730px) {
  #main {
    width: 55%;
  }
}

#makechart {
  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,16%);
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
  }
  .chartsImg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
  }
  #jumboMain {
    background-image: 
  }
